<% content_for :body_content_title do %>
  <%= @banner.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @banner.title %>
    </p>
  </section>
  <section>
    <h1>Date</h1>
    <p>
      <%=raw @banner.date %>
    </p>
  </section>
  <section>
    <h1>Description</h1>
    <p>
      <%=raw @banner.description %>
    </p>
  </section>
  <section>
    <h1>Image</h1>
    <p>
      <%= image_fu @banner.image, nil %>
    </p>
  </section>
  <section>
    <h1>Start Date</h1>
    <p>
      <%=raw @banner.start_date %>
    </p>
  </section>
  <section>
    <h1>End Date</h1>
    <p>
      <%=raw @banner.end_date %>
    </p>
  </section>
  <section>
    <h1>Publish</h1>
    <p>
      <%=raw @banner.publish %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="banners">
      <% @banners.each do |banner| %>
        <li>
          <%= link_to banner.title, refinery.banners_banner_path(banner) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
