<%= form_for [refinery, :banners_admin, @banner] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @banner,
              :include_object_name => true %>

  
  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest'  -%>

  </div>
  
  <div class='field'>
    <%= f.label :date -%>
    <%= f.datetime_select :date  -%>

  </div>
  
  <div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <% [:description].each_with_index do |part, part_index| %>
          <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
            <%= link_to t("#{part}", :scope => "activerecord.attributes.refinery/banners/banner", :default => part.to_s.titleize), "##{part}" %>
          </li>
        <% end %>
      </ul>
      <div id='page_part_editors'>
        <% [:description].each do |part| %>
          <div class='page_part' id='<%= part %>'>
            <%= f.text_area part, :rows => 20, :class => 'wymeditor widest' -%>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  
  <div class='field'>
    <%= f.label :image -%>
    <%= render '/refinery/admin/image_picker',
               :f => f,
               :field => :image_id,
               :image => @banner.image,
               :toggle_image_display => false %>

  </div>
  
  <div class='field'>
    <%= f.label :start_date -%>
    <%= f.datetime_select :start_date  -%>

  </div>
  
  <div class='field'>
    <%= f.label :end_date -%>
    <%= f.datetime_select :end_date  -%>

  </div>
  
  <div class='field'>
    <%= f.label :publish -%>
    <%= f.check_box :publish, :checked => @banner[:publish]  -%>

  </div>
  
  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.banners.admin.banners.banner'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @banner.title) %>
<% end -%>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end %>
